a {
    color:rgb(255, 208, 0);
    display: inline-flexbox;
}
text {
    color:rgb(255, 255, 255);
}
body {
    display:false;
    flex-direction: column;
    min-height: 100vh;
    color:rgb(238, 234, 0);
}
main {
    display: flex;
    flex: 1;
    color:rgb(238, 234, 0);
}
article {
    flex: 1;
    color:rgb(238, 234, 0);
}
nav,
aside {
    flex: 0 0 12em;
    color:rgb(238, 234, 0);
}

* {
    background-color: 1px solid rgb(0, 0, 0);
}
p{
    text-align: center;
}
img {
    height: 300px;
    width: 300px;
}
body {
    background-image: url("abstract-background-with-3d-shapes-2500121.jpg");
    background-color: azure;
}



